
#main{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
#head{
    width: 100%;
    height: 45px;
    background-color: #4f4d38;
    position: absolute;
    top: 0;

}
#head li{
    list-style: none;
    float: left;
    position: relative;
}
#head li a{
    text-decoration: none;
    color: white;
    background-color: #4f4d38;
    line-height: 30px;
    display: block;
    width: 60px;
    height: 45px;
    text-align: center;
    position: relative;
    top: -16px;
    left: -40px;
}
#head a:hover{
    background-color: black;
}
#head ul ul{
    position: absolute;
    top: 40px;
    left: 15px;
    visibility: hidden;
}
#head ul li:hover ul{
    visibility: visible;
    margin-left: -55px;
    margin-top: 5px;
}

#content-left{
    width: 20%;
    height: 650px;
    background-color: #F1F4F5;
    float: left;
    margin-top: 40px;
}
#content-mid{
    width: 60%;
    height: 650px;
    background-color: white;
    float: left;
}
#content-mid h1{
    margin-left: 20px;
    margin-top: 50px;
}
#content-mid p{
    margin:0 20px;
}
#content-right{
    width: 20%;
    height: 650px;
    background-color: #F1F4F5;
    float: left;
    margin-top: 40px;
}
#content-right h2{
    width: 150px;
    height: 100px;
    border: 1px solid;
    margin-left: 15px;
    text-align: center;
    background-color: #998991;
}
#footer{
    width: 100%;
    height: 70px;
    text-align: center;
    background-color: #555555;
    float: left;
    color: white;
    position: relative;
}